h2 {
  font-size: 18px;
  text-align: left;
  padding: 10px 15px;
  margin: 1px;
  color: #f9690e;
  width: 90%;
}

/* radio button */
.radio label {  
    display: inline-block;  
    cursor: pointer;  
    padding-right: 40px;  
    margin-right: 15px;  
    font-size: 18px;  
	color: #f9690e;
}  

input[type=radio] {  
    display: none;  
}  

.radio label:before {  
    content: "";  
    display: inline-block;  
    width: 16px;  
    height: 16px; 
    margin-right: 10px;   
    left: 0;  
/*     bottombottom: 1px;   */
    background-color: #f2f1ef;  
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);	
/* 	border: 1px solid #f9690e;
	border-radius: 10px; */
}  

.radio label:before {  
    border-radius: 8px;  
}  

input[type=radio]:checked + label:before {  
    content: "\2022";  
    color: #f9690e;  
    font-size: 30px;  
    text-align: center;  
    line-height: 19px;  
}  

/* end of radio button */