h2 {
  font-size: 18px;
  text-align: left;
  padding: 10px 15px;
  margin: 1px;
  color: #f9690e;
  width: 90%;
}

/* radio button */
.radio label{
  color: #f9690e;
  font-size: 18px;
  padding-right: 40px;  
  margin-right: 15px; 
}

input[type="radio"]{
  display: none;
}

input[type="radio"] + label{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  padding-left: 50px; /* jarak tulisan dgn radio button */
  position: relative;
  vertical-align: middle;
}

input[type="radio"]:checked + label{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-animation: checked 200ms ease 1;
  -moz-animation: checked 200ms ease 1;
  -webkit-animation: checked 200ms ease 1;
}

input[type="radio"] + label:before {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
  border-radius: 100% 100% 100% 100%;
  content: " ";
  height: 10px; /* bullet */
  left: 25px;
  position: absolute;
  top: 7px;
  width: 10px;
}

input[type="radio"] + label:hover:before {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.63);
}

input[type="radio"]:checked + label:before {
  background: none repeat scroll 0 0 #f9690e;
}

input[type="radio"] + label:after{
  border: 2px solid #f9690e;
  border-radius: 100% 100% 100% 100%;
  content: " ";
  height: 20px; /* besarkan bullet */
  left: 20px; /* bagi bullet ke tepi */
  position: absolute;
  top: 2px;
  width: 20px;
}

input[type="radio"]:checked + label:after{
  border-color: #f9690e;
}  

/* end of radio button */

/* form */
.inform {
	text-align: center;
	margin-top: 15px;
}
.inform .tujuan {
  height: 100px;
}

input {
  font-family: "Arial", regular, sans-serif;
  font-size: 18px;
}

.inform input[type=text] {
	width: 93%;
}

.inform input[type=text] {
  margin: 6px;
  padding: 10px 10px;
  height: 50px;
  color: #696969;
  background: white;
  border: 1px solid;
  border-color: #c2c2c2 #d1d1d1 #d4d4d4;
  border-radius: 5px;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

/* end of form */

/* checkbox */
.checkbox label{
  color: #f9690e;
  font-size: 18px;
  padding-right: 40px;  
  margin-right: 15px; 
/*   display:block;  */
}

input[type=checkbox] { 
  display: none; 
  overflow: hidden; 
  margin-left: 20px;
} 

input[type=checkbox]:checked + label:before { 
  content: "\2713"; 
     
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  */
  color: #f9690e; 
  text-align: center; 
  line-height: 20px; 
  border: 2px solid; 
  border-radius: 5px; 
  font-size: 14px; 
  padding: 1px 2px; 
  margin-right: 10px; 
/*   font-weight: bold;  */
} 
   
   
input[type=checkbox] + label:before {  
  content: "\2003"; 
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  */
  text-align: center; 
  line-height: 20px; 
  border: 2px solid; 
  border-radius: 5px; 
  font-size: 14px; 
  padding: 1px 2px; 
  color: #f9690e; 
  margin-right: 10px; 
 /*  font-weight: bold; */ 
} 

/* end of checkbox */

/* form */
.display {
	text-align: center;
	margin-top: 8px;
}

input {
  font-family: "Arial", regular, sans-serif;
  font-size: 18px;
  word-break: break-all;
}

.display input[type=text] {
  width: 93%;
}

.display input[type=text] {
  margin: 6px;
  padding: 10px 10px;
  height: 50px;
  color: #696969;
  background: #ececec;
  border: 1px solid;
  border-color: #c2c2c2 #d1d1d1 #d4d4d4;
  border-radius: 5px;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

/* end of form */





