.text1
{
	font-size: 18px;
	color: #464646;
}

.text2
{
	font-size: 17px;
	color: #acacac;
	line-height: 10px;
}

.search-box
{
	padding-left: 10px;
	padding-right: 10px;
}

.add-on .input-group-btn > .btn 
{
	border-left-width:0;left:-1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* stop the glowing blue shadow */
.add-on .form-control:focus 
{
	box-shadow:none;
	-webkit-box-shadow:none; 
	border-color:#cccccc; 
}

.default_button_holder {
	text-align: center;
	margin-top: 15px;
}

input.default_button {
	padding:5px;
	height: 45px;
	width: 90%;
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
	background: #f9690e;
	border: 0px solid;
	border-radius: 5px;
	outline: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background-image: -webkit-linear-gradient(top, #fda303, #f9690e);
	background-image: -moz-linear-gradient(top, #fda303, #f9690e);
	background-image: -o-linear-gradient(top, #fda303, #f9690e);
	background-image: linear-gradient(to bottom, #fda303, #f9690e);
	-webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}