.aktif {
	text-align: center;
	margin-top: 10px;
}

input {
  font-family: "Arial", regular, sans-serif;
  font-size: 18px;
}

.aktif input[type=text] {
	width: 93%;
}

.aktif input[type=text] {
  margin: 6px;
  padding: 10px 10px;
  height: 50px;
  color: #696969;
  background: white;
  border: 1px solid;
  border-color: #c2c2c2 #d1d1d1 #d4d4d4;
  border-radius: 5px;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

h2 {
  color: #f9690e;
  font-size: 18px;
  padding: 10px 15px;
  margin: 1px;
}

h5 {
 text-align: left;
 padding: 10px 15px;
 margin: 1px;
 color: #3f3f3f;
 /* width: 90%; */
 }

 .default_button_holder {
	text-align: center;
	margin-top: 15px;
}

input.default_button {
	padding:5px;
  height: 45px;
  width: 90%;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  background: #f9690e;
  border: 0px solid;
  border-radius: 5px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #fda303, #f9690e);
  background-image: -moz-linear-gradient(top, #fda303, #f9690e);
  background-image: -o-linear-gradient(top, #fda303, #f9690e);
  background-image: linear-gradient(to bottom, #fda303, #f9690e);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}