#head{
	position: fixed;
	overflow: hidden;
	background-color: #F2F1EF;
}

.icon {
	color: #F9690E;
}

/* .searchbox{
	 padding: 20px 3%;
} */

.main_title{
	margin-top: 5px !important;
	margin-bottom: 7px !important;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #3f3f3f;
}

img.logo{
	display: block;
	margin: 0 auto;
	margin-top: 7px;
	height: 50%;
	width: 50%;
}

img.logo2{
	display: block;
	margin: 0 auto;
	height: 45%;
	width: 55%;
}

img.menu_icon{
	position: absolute;
	top: 18px;
	right: 2%;
	width: 10%;
	height: 25%;
}

img.back_icon{
	position: absolute;
	top: 19px;
	left: 2%;
	width: 10%;
	height: 25%;
}

#thick_line{
	border: 0;
	width: 100%;
	color: #F9690E;
	background-color: #F9690E;
	height: 12px;
	margin-top: 10px;
	margin-bottom: 5px !important;
}

#thin_line{
	border: 0;
	width: 100%;
	color: #F9690E;
	background-color: #F9690E;
	height: 2px;
	margin-top: 5px !important;
	margin-bottom: 5px;
}