#head{
	position: fixed;
	top: 0;
	height: 55px;
	width: 100%;
	background-color: #F2F1EF;
	z-index:10;
	border-bottom: 10px solid #F9690E;
	text-align:center;
}

img.logo{
	margin-top: 7px;
	max-width: 60%;
	max-height: 70%;
	display: inline-block;
}

img.menu_icon{
	position: absolute;
	margin-top: 7px;
	max-width: 60%;
	max-height: 70%;
	display: inline-block;
	right: 2%;
}

.icon {
	color: #F9690E;
}

/* .searchbox{
	 padding: 20px 3%;
} */

.main_title{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #3f3f3f;
}

img.logo2{
	display: block;
	margin: 0 auto;
	max-height: auto;
	max-width: auto;
	height:auto;
	width: 170px;
}

img.back_icon{
	position: absolute;
	margin-top: 7px;
	left: 2%;
	max-width: 60%;
	max-height: 70%;
	display: inline-block;

}

#thick_line{
	border: 0;
	width: 100%;
	color: #F9690E;
	background-color: #F9690E;
	height: 12px;
	margin-top: 10px;
	margin-bottom: 5px !important;
}

#thin_line{
	border: 0;
	width: 100%;
	color: #F9690E;
	background-color: #F9690E;
	height: 2px;
	margin-top: 3px !important;
	margin-bottom: 5px;
}

/* Scroll To Top CSS */

#scrollTop {
	width:65px;
	height:65px;
	border-radius:50%;
	background-color: #000;
	background:rgba(0,0,0,0.3);
	position:fixed;
	right: 18px;
	bottom: 35px;
	visibility: hidden;
}
	
#scrollTop:active {
	background:rgba(0,0,0,0.8);
}
#scrollTop > div {
	position:absolute;
	color:#fff;
	font:18px sans-serif;
	width:100%;
	top:33%;
	text-align:center;
}
