
.login {
	text-align: center;
	margin-top: 20px;
}

input[type=text], input[type=password] {
	height: 50px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	color: #696969;
	background: white;
	border: 1px solid;
	border-color: #c2c2c2 #d1d1d1 #d4d4d4;
	border-radius: 5px;
	-moz-outline-radius: 3px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

a,
.multi-links{
    color:#1d9ce5;
    text-decoration:none;
    cursor:pointer;
}
.multi-links,.multi-links:hover.multi-links:active,.multi-links:focus{
    position:static;
    text-decoration:none;
    font-weight:normal;
    color:#1d9ce5;
    outline:none;
    cursor:text;
	margin-top: 20px;
}

a:hover{
	position:static;
    text-decoration:none;
    font-weight:normal;
    color:#1d9ce5;
    outline:none;
    cursor:text;
}


