body {
    overflow-x: hidden;
}

section:last-child {
    margin-bottom: 0
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(31, 27, 27, 0.8);
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}

/* general style for all menus */
nav.menu {
    position: fixed;
    z-index: 20;
    background-color: #F2F1EF;
    /* overflow: hidden; */
	overflow-y: auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	-webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.menu a {
    font-weight: 300;
    color: #3f3f3f;
}

/* slide menu left and right, push menu left and right */
nav.slide-menu-right
 {
    top: 0;
    width: 270px;
    height: 100%;
	-webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: transform 400ms ease;
	
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: transform 400ms ease;
    -o-transition: transform 400ms ease;
    transition: transform 400ms ease;
}

nav.slide-menu-right li{
    display: block;
    border-top: solid 1px #959595;
}

nav.slide-menu-right li:first-child{
    border-top: none
}

nav.slide-menu-right li:last-child{
    border-bottom: none
}

nav.slide-menu-right a{
    display: block;
    font-size: 18px;
}

nav.slide-menu-right{
    right: -300px;
}

body.smr-open nav.slide-menu-right {
    right: 0;
}

a {
    text-decoration: none;
    color: #0070c0;
}

.menu ul li 
{
	color: #3f3f3f;
	font-size: 18px;
	font-family: "Arial";
	margin: 0 0 0px 0;
	height: 48px;
	line-height: 50px;
	padding-left: 10px;
	-webkit-transition: all .7s;
	transition: all .7s;
}

#colored
{
	background : #ececec;
}

ul li.title
{
	font-weight: bold;
	color: #F9690E;
}

.menu-icon
{
	height: 30px;
	margin: 0px 10px -8px 0px;
}